*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ
*.iml
.idea/

# Compiled Python
*.pyc

# Zipped files
*.zip

RegressionR/.RData
RegressionR/.Rhistory
RegressionR/.Rproj.user
RegressionR/DistritosCatastroPP.png
RegressionR/LogisticExam.png
RegressionR/PuntosCatastroPP.png
RegressionR/RegresionLinealExamen.png
RegressionR/RegressionR.Rproj
data/Catalogo_peliculas.csv
data/HOUSEHOLD_MASTER.csv
data/ratings.csv


